/* CSS for styling Fanvenues 3D interactive Maps */

/* map styling */
#fvmap { height:500px; width:500px; }

/* section styling */
#fvmap .section.focus { display: none; color: #cc3300; opacity:0.5; filter:alpha(opacity=50);	/* opacity for IE */ }
#fvmap .section.available { display:none; color: #ff9900; opacity:0.25; filter:alpha(opacity=25);	/* opacity for IE */ }
#fvmap .section.selected { display:none; color: #006699; opacity:0.50; filter:alpha(opacity=50);	/* opacity for IE */ }

/* map buttons styling */
#fvmap .zoomList { padding:10px; }
#fvmap .actionList { padding:10px; }
#fvmap .zoomList li { list-style:none; padding:3px; margin-bottom:2px; font-size:10px; font-family:Arial,sans-serif; text-align:center;}
#fvmap .actionList li { list-style:none; padding:3px; margin-bottom:2px; font-size:10px; font-family:Arial,sans-serif; text-align:center;}
#fvmap .zoomList li:hover { cursor:pointer; cursor:hand; }
#fvmap .actionList li:hover { cursor:pointer; cursor:hand; }

/* map price slider styling */
#fvmap .priceFilter { padding-bottom:50px; padding-left:25px; margin:0; width:180px; height:10px;  }
#fvmap .priceFilter p { font-family:Arial,sans-serif; font-size:10px; padding:0; margin:0; }
#fvmap .priceSlider{ width:150px; height:5px; }
#fvmap .priceSliderAmount { font-size:10px; width:80px; border:0; color:#f6931f; font-weight:bold; }

/* ticket list styling (DIV-based ticket list)*/
#tixlist div.active { color:#ffffff; background-color: #d5896a; }
#tixlist div.active:hover { cursor:pointer; cursor:hand; }

/* ticket list styling (TABLE-based ticket list)*/
#ticket-list tr td.active { background-color: #D6896C; }
#ticket-list tr td.selected { background-color: #D6896C; }	

/* required styling */
#fvmap .controlDiv { margin-left:10px;height:20px; width:80px; }
#fvmap .controlDiv:hover { cursor:pointer; }
#fvmap .fvSpinner { width:16px; height:16px; background-image:url('ui-anim_basic_16x16.gif'); }
#fvmap .ui-slider .ui-slider-handle {height:0.6em; width:0.6em;}
.fullscreen {
	background-color:#000000;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	background: inherit;
}


#thumbnail {
	width:175px;
	height:85px;
	border-style:solid;
	border-width:1px;
}
